syntax: glob

*~
*.bak
*.orig
*.rej
*.pyc
*.pyo
*.kdevelop.pcs
*.kdevses
Makefile
Makefile.in*
src/config.h
config.guess
config.log
config.status
config.sub
configure
data/GeoLiteCity.dat.gz
depcomp
install-sh
libtool
ltmain.sh
missing
po/POTFILES
stamp-*
aclocal.m4
autom4te.cache/
.DS_Store
.directory
Thumbs.db
MANIFEST
*.mo
*.gmo
*.o
*.la
*.lo
*.dll
*.exe
*.obj
*.exp
*.lib
*.idb
*.pdb
*.manifest
*.res
*.ncb
*.suo
*.vcproj.*
.deps/
.libs/
debug/
debug-unicode/
optimized/
optimized-unicode/
Debug
Unicode-Debug/
Release/
Unicode-Release/
src/pch/Csl.h.gch
src/csl
src/cslmapcfgtool

