#include <windows.h>
#include "engine/CslVersion.h"

#ifndef _USRDLL
appicon  ICON  "img\\csl_48.ico"
#endif

#ifndef __CSL_FILENAME
#define __VER_FILENAME  __CSL_NAME_SHORT_STR ".exe"
#else
#define __VER_FILENAME  __CSL_FILENAME
#endif

#define VER_COMMENTS_STR          __CSL_DESCRIPTION_STR
#define VER_PRODUCTNAME_STR       __CSL_NAME_STR
#define VER_PRODUCTVERSION        __CSL_VERSION
#define VER_PRODUCTVERSION_STR    __CSL_VERSION_STR
#define VER_LEGALCOPYRIGHT_STR    __CSL_COPYRIGHT_STR
#define VER_INTERNALNAME_STR      __CSL_NAME_SHORT_STR
#define VER_ORIGINALFILENAME_STR  __VER_FILENAME

#ifndef DEBUG
#define VER_DEBUG    0
#define VER_RELEASE  0
#else
#define VER_DEBUG    VS_FF_DEBUG
#define	VER_RELEASE  VS_FF_SPECIALBUILD|VS_FF_PRERELEASE
#endif

VS_VERSION_INFO VERSIONINFO
  FILEVERSION     VER_PRODUCTVERSION
  PRODUCTVERSION  VER_PRODUCTVERSION
  FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
  FILEFLAGS       (VER_RELEASE|VER_DEBUG)
  FILEOS          VOS_NT_WINDOWS32
#ifdef _USRDLL
  FILETYPE        VFT_APP
#else
  FILETYPE        VFT_DLL
#endif
  FILESUBTYPE     VFT2_UNKNOWN

BEGIN
  BLOCK "StringFileInfo"
    BEGIN
      BLOCK "000004b0"
      BEGIN
        VALUE "Comments",           VER_COMMENTS_STR
        //VALUE "CompanyName",      VER_COMPANYNAME_STR
        VALUE "FileDescription",    VER_PRODUCTNAME_STR
        VALUE "FileVersion",        VER_PRODUCTVERSION_STR
        VALUE "InternalName",       VER_INTERNALNAME_STR
        VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
        VALUE "OriginalFilename",   VER_ORIGINALFILENAME_STR
        VALUE "ProductName",        VER_PRODUCTNAME_STR
        VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
      END
    END
	
  BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0, 1200
    END
END
