//#include "wx/msw/wx.rc"

CSL_32                  ICON                    "img\\csl_32.ico"

ICON_LIST_GREEN         ICON                    "img\\green_list_16.ico"
ICON_LIST_YELLOW        ICON                    "img\\yellow_list_16.ico"
ICON_LIST_ORANGE        ICON                    "img\\orange_list_16.ico"
ICON_LIST_RED           ICON                    "img\\red_list_16.ico"
ICON_LIST_GREY          ICON                    "img\\grey_list_16.ico"
ICON_LIST_TRANS         ICON                    "img\\trans_list_16.ico"
ICON_LIST_GREEN_EXT     ICON                    "img\\green_ext_list_16.ico"
ICON_LIST_YELLOW_EXT    ICON                    "img\\yellow_ext_list_16.ico"
ICON_LIST_RED_EXT       ICON                    "img\\red_ext_list_16.ico"
ICON_LIST_ASC           ICON                    "img\\sortasc_16.ico"
ICON_LIST_DSC           ICON                    "img\\sortdsc_16.ico"
ICON_LIST_ASC_LIGHT     ICON                    "img\\sortasclight_16.ico"
ICON_LIST_DSC_LIGHT     ICON                    "img\\sortdsclight_16.ico"

ICON_CLOSE_14           ICON                    "img\\close_14.ico"
ICON_CLOSE_HIGH_14      ICON                    "img\\close_high_14.ico"
ICON_CLOSE_PRESS_14     ICON                    "img\\close_press_14.ico"

ICON_TREE_SB_24         ICON                    "img\\sb_24.ico"
ICON_TREE_AC_24         ICON                    "img\\ac_24.ico"
ICON_TREE_BF_24         ICON                    "img\\bf_24.ico"
ICON_TREE_CB_24         ICON                    "img\\cb_24.ico"
ICON_TREE_MASTER_24     ICON                    "img\\master_24.ico"

ICON_LIST_SB_16         ICON                    "img\\sb_16.ico"
ICON_LIST_AC_16         ICON                    "img\\ac_16.ico"
ICON_LIST_BF_16         ICON                    "img\\bf_16.ico"
ICON_LIST_CB_16         ICON                    "img\\cb_16.ico"
ICON_LIST_SB_EXT_16     ICON                    "img\\sb_ext_16.ico"
ICON_LIST_AC_EXT_16     ICON                    "img\\ac_ext_16.ico"
ICON_LIST_BF_EXT_16     ICON                    "img\\bf_ext_16.ico"
ICON_LIST_CB_EXT_16     ICON                    "img\\cb_ext_16.ico"

ICON_MENU_CONNECT       ICON                    "img\\connect_16.ico"
ICON_MENU_CONNECT_PW    ICON                    "img\\connect_pw_16.ico"
ICON_MENU_ADD           ICON                    "img\\add_16.ico"
ICON_MENU_DEL           ICON                    "img\\delete_16.ico"
ICON_MENU_RELOAD        ICON                    "img\\reload_16.ico"
ICON_MENU_SETTINGS      ICON                    "img\\settings_16.ico"
ICON_MENU_ABOUT         ICON                    "img\\about_16.ico"
