//#include <wx/msw/wx.rc>

AA_CSL_48               ICON                    "img\\csl_48.ico"

GREEN_LIST_16           ICON                    "img\\green_list_16.ico"
YELLOW_LIST_16          ICON                    "img\\yellow_list_16.ico"
RED_LIST_16             ICON                    "img\\red_list_16.ico"
GREY_LIST_16            ICON                    "img\\red_list_16.ico"
GREEN_EXT_LIST_16       ICON                    "img\\green_ext_list_16.ico"
YELLOW_EXT_LIST_16      ICON                    "img\\yellow_ext_list_16.ico"
RED_EXT_LIST_16         ICON                    "img\\red_ext_list_16.ico"
SORTASC_16              ICON                    "img\\sortasc_16.ico"
SORTDSC_16              ICON                    "img\\sortdsc_16.ico"
SORTASCLIGHT_16         ICON                    "img\\sortasclight_16.ico"
SORTDSCLIGHT_16         ICON                    "img\\sortdsclight_16.ico"
SORTASC_18_12           ICON                    "img\\sortasc_18_12.ico"
SORTDSC_18_12           ICON                    "img\\sortdsc_18_12.ico"

CLOSE_14                ICON                    "img\\close_14.ico"
CLOSE_HIGH_14           ICON                    "img\\close_high_14.ico"
CLOSE_PRESS_14          ICON                    "img\\close_press_14.ico"

SB_24                   ICON                    "img\\sb_24.ico"
AC_24                   ICON                    "img\\ac_24.ico"
BF_24                   ICON                    "img\\bf_24.ico"
CB_24                   ICON                    "img\\cb_24.ico"
MASTER_24               ICON                    "img\\master_24.ico"

SB_16                   ICON                    "img\\sb_16.ico"
AC_16                   ICON                    "img\\ac_16.ico"
BF_16                   ICON                    "img\\bf_16.ico"
CB_16                   ICON                    "img\\cb_16.ico"
SB_EXT_16               ICON                    "img\\sb_ext_16.ico"
AC_EXT_16               ICON                    "img\\ac_ext_16.ico"
BF_EXT_16               ICON                    "img\\bf_ext_16.ico"
CB_EXT_16               ICON                    "img\\cb_ext_16.ico"

CONNECT_16              ICON                    "img\\connect_16.ico"
CONNECT_PW_16           ICON                    "img\\connect_pw_16.ico"
ADD_16                  ICON                    "img\\add_16.ico"
DEL_16                  ICON                    "img\\delete_16.ico"
RELOAD_16               ICON                    "img\\reload_16.ico"
SETTINGS_16             ICON                    "img\\settings_16.ico"
ABOUT_16                ICON                    "img\\about_16.ico"